@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
}

.chart {
  display: flex;
  width: 95%;
  height: 55%;
  margin-right: 50px;
}

.loading-fail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 3vw;
  width: 95%;
  height: 55%;
  border: 2px solid var(--core-secondary-3);
}
