@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
}

.chart {
  display: flex;
  width: 90%;
  height: 60%;
}
