.splash-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--core-secondary-2);
}

.logo {
  margin-bottom: 35px;
}

.splash-screen-short {
  padding-top: 4vh;
  background-color: var(--core-secondary-2);
  min-width: 180px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
