.summary-loading {
  display: flex;
  width: 317px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 9px;
}

.summary-one {
  animation: 0.8s ease -0.48s infinite normal none running summary-animation;
  will-change: transform;
}

.summary-two {
  animation: 0.8s ease -0.326154s infinite normal none running summary-animation;
  will-change: transform;
}

.summary-three {
  animation: 0.8s ease -0.172308s infinite normal none running summary-animation;
  will-change: transform;
}

.summary-four {
  animation: 0.8s ease -0.0184615s infinite normal none running summary-animation;
  will-change: transform;
}

@keyframes summary-animation {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 15px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
