.stats-wrapper {
  width: 1070px;
}

.stats-container {
  display: flex;
  width: 1071px;
  flex-direction: row;
  justify-content: space-between;
}

.stats-title {
  display: block;
  font-family: 'Merriweather', serif;
  color: var(--core-primary-2);
  font-size: 1em;
  margin: 10px 36px;
}

.stats-section {
  width: 351px;
}

.stats-section:first-of-type {
  margin-left: 32px;
}

.stats-section:last-of-type {
  margin-right: 32px;
}

.stats-section:nth-of-type(2) {
  margin: 0 38px 0 38px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--core-secondary-1);
  padding: 8px 5px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
}

.stats-row > span {
  font-weight: normal;
  color: #7f7f7f;
  font-size: 12px;
}
