.key-loading {
  width: 90%;
  height: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-one {
  animation: 0.8s ease -0.48s infinite normal none running key-animation;
  will-change: transform;
}

.key-two {
  animation: 0.8s ease -0.326154s infinite normal none running key-animation;
  will-change: transform;
}

.key-three {
  animation: 0.8s ease -0.172308s infinite normal none running key-animation;
  will-change: transform;
}

.key-four {
  animation: 0.8s ease -0.0184615s infinite normal none running key-animation;
  will-change: transform;
}

@keyframes key-animation {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 45px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
