.suggestion-panel {
  width: 100%;
  background-color: var(--core-secondary);
  padding: 10px 8px 20px 8px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
  font-family: Roboto;
}
.market-name {
  border-bottom: 1px solid var(--core-secondary-3);
  padding: 0 8px;
  padding-bottom: 8px;
}

.no-result-label {
  color: var(--core-primary-5);
  padding: 8px 8px 0px;
}

@media only screen and (max-width: 834px) {
  .suggestion-panel {
    font-size: 16px;
  }
}
