.dashboard {
  width: 100%;
  display: flex;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--core-secondary-1);
}

.right-sidebar {
  background-color: var(--core-secondary-2);
  display: flex;
  flex-direction: column;
  width: 520px;
}
