.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 32px;
  background-color: var(--core-secondary-1);
}

input {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--core-secondary-3);
  padding-bottom: 14px;
  appearance: none;
  background-color: var(--core-secondary-1);
  font-size: 32px;
  color: var(--core-primary-2);
  font-family: 'Merriweather-Regular';
}

input:focus-visible {
  outline: none;
}
