.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'mainSection sidebarRight';
  background-color: var(--core-secondary-1);
}

.main-section {
  grid-area: mainSection;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
}

.right-sidebar {
  grid-area: sidebarRight;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--core-secondary-2);
}
