.peers-wrapper {
  width: 317px;
}

.peers-title {
  display: block;
  font-family: 'Merriweather', serif;
  color: var(--core-primary-2);
  font-size: 16px;
  font-weight: 700;
  margin: 24px 16px 15px 16px;
}

.peers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.peer {
  background-color: transparent;
  flex-basis: 16%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 11px;
  color: #6b6b6b;
  padding: 3px 4px;
  margin: 3px;
  border: 2px solid var(--core-secondary-4);
  border-radius: 43px;
  text-decoration: none;
  text-align: center;
}

.peer:hover {
  background-color: var(--core-secondary-4);
  cursor: pointer;
}
