.news-wrapper {
  width: 95%;
  padding: 40px 33px 0 30px;
}

.news-title {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 10px;
}

.news-headline,
.news-headline > a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: normal;
  color: var(--core-primary-2);
  line-height: 1.54;
  padding-bottom: 10px;
  text-decoration: none;
}

.news-container {
  width: 100%;
  border-bottom: 1px solid var(--core-secondary-4);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.news-date {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: italic;
  color: #7f7f7f;
  /* padding: 0 15px 20px 15px; */
}
