.stock-suggested {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  color: var(--core-primary-5);
}

.hovered {
  background-color: var(--core-secondary-2);
  border-radius: 20px;
  color: #000;
}
