@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.live-container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 265px;
  padding-bottom: 17px;
  border-bottom: 2px solid var(--core-secondary-3);
}

.live-price {
  font-size: 32px;
  font-family: Roboto;
  font-weight: normal;
  color: var(--core-primary-1);
  padding-right: 10px;
}

.price-change-positive {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: #01c38d;
  padding-bottom: 3px;
}

.price-change-negative {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: #ff274b;
  padding-bottom: 3px;
}

.live-price-error {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 265px;
  padding-bottom: 14px;
  color: var(--core-primary-2);
  border-bottom: 2px solid var(--core-secondary-3);
  font-family: 'Merriweather';
  font-size: 18px;
  margin-top: 16px;
}

.arrow {
  float: left;
}

@media only screen and (max-width: 834px) {
  .live-price {
    font-size: 16px;
    padding-bottom: 3px;
    padding-right: 0px;
  }

  .price-change-negative {
    font-size: 13px;
  }

  .price-change-positive {
    font-size: 13px;
  }

  .arrow {
    float: right;
  }

  .live-container {
    width: 165px;
    padding-bottom: 11px;
  }

  .live-price-error {
    width: 165px;
    font-size: 14px;
  }
}
