@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.live-container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 265px;
  padding-bottom: 14px;
  padding-top: 40px;
  border-bottom: 2px solid var(--core-secondary-3);
}

.live-price {
  font-size: 32px;
  font-family: Roboto;
  color: var(--core-primary-1);
  padding-right: 10px;
}

.price-change-positive {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: #00d800;
  padding-bottom: 3px;
}

.price-change-negative {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: #ff3542;
}

.live-price-error {
  display: flex;
  justify-content: center;
  width: 265px;
  margin-top: 43px;
  border-bottom: 2px solid var(--core-secondary-3);
  font-family: Roboto;
  font-size: 1vw;
}
