@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.fte {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--core-secondary-3);
  width: 100%;
  padding: 7px 0px;
}

td {
  font-family: 'Roboto';
  font-size: 12px;
  padding: 10px 20px;
}

td:last-child {
  border: 0;
}

.name {
  color: #7f7f7f;
}

.positiveChange {
  font-weight: 500;
  color: #00d800;
  border-right: 1px solid var(--core-secondary-3);
}

.negativeChange {
  font-weight: 500;
  color: #f23441;
  border-right: 1px solid var(--core-secondary-3);
}

.index-name {
  color: #4d4d4d;
  font-weight: 500;
}

.fte-error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid var(--core-secondary-3);
  width: 100%;
  font-family: Roboto;
  font-size: 0.9vw;
}
