@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.fte {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #eaebeb;
  width: 90%;
}

td {
  font-family: 'Roboto';
  font-size: 12px;
  padding: 8px 20px;
}

td:last-child {
  border: 0;
}

.name {
  color: #7f7f7f;
}

.positiveChange {
  font-weight: 500;
  color: #00f200;
  border-right: 1px solid #eaebeb;
}

.negativeChange {
  font-weight: 500;
  color: #f23441;
  border-right: 1px solid #eaebeb;
}

.index-name {
  color: #4d4d4d;
  font-weight: 500;
}
